{% extends "Patients/main.html" %}

{% block PageName %}Appointments{% endblock PageName %}

{% block content %}
    <section class="operations">
        <a href={% url "add_appointment" %} class="newPatient">Add Appointment</a>
    </section>
    <nav class="navbar-top"></nav>

    <table class="patients-table">
        <thead>
            <tr>
                <th>🗑️</th>
                <th>Appointment ID</th>
                <th>FHIR ID</th>
                <th>Department</th>
                <th>National ID</th>
                <th>Doctor</th>
                <th>Status</th>
                <th>Appointment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Appointment in Appointments %}
                <tr>
                    <td>
                        <form method="post" action="{% url 'delete_appointment' Appointment.AppointmentID %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="patient_ids" value="{{ Appointment.Patient.PatientID }}">
                            <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this Appointment: ID &nbsp; {{Appointment.AppointmentID}}?')">🗑️</button>
                        </form>
                    </td>

                    <td class="patient-id">{{Appointment.AppointmentID}}</td>

                    <td class="patient-name">{{Appointment.Patient.Fhir_ID}}</td>

                    <td class="patient-gender">OPD</td>

                    <td class="patient-nid">{{ Appointment.Patient.P_National_ID }}</td>

                    <td class="patient-id">{{Appointment.Doctor_Name}}</td>
                    <td class="patient-id">{{Appointment.Appointment_Status}}</td>

                    <td class="patient-date">{{ Appointment.Appointment_Date }}</td>
                    <td class="patient-actions">
                        <a href={% url "view_appointments" Appointment.Patient.PatientID %} class="btn btn-add">+</a>
                        <a href={% url "edit_appointment" Appointment.AppointmentID %} class="btn btn-edit">E</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
