{% extends "Patients/main.html" %}

{% block PageName %}Medical Records{% endblock PageName %}

{% block content %}
    <nav class="navbar-top">
        <section class="operations">
            <a href={% url "Addrecords" %} class="newPatient">Add Records</a>
        </section>
    </nav>

    <table class="patients-table">
        <thead>
            <tr>
                <th>RecordID</th>
                <th>FHIR ID</th>
                <th>Patient ID</th>
                <th>Gender</th>
                <th>National ID</th>
                <th>Doctor</th>
                <th>Last Arrived</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for MedicalRecord in MedicalRecords %}
                <tr>
                    <td class="patient-id">{{ MedicalRecord.RecordID }}</td>
                    <td class="patient-name">{{MedicalRecord.Patient.Fhir_ID}}</td>
                    <td class="patient-name">{{MedicalRecord.Patient.PatientID}}</td>
                    <td class="patient-gender">{{ MedicalRecord.Patient.Gender }}</td>
                    <td class="patient-nid">{{ MedicalRecord.Patient.P_National_ID }}</td>
                    <td class="patient-id">Dr.John Doe</td>
                    <td class="patient-date">{{ MedicalRecord.Patient.last_arrived }}</td>
                    <td class="patient-actions">
                        <a class="btn btn-add" href="{% url 'view_records' MedicalRecord.Patient.PatientID %}">+</a>
                        <a href="{% url 'edit_record' MedicalRecord.RecordID %}" class="btn btn-edit">E</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
