{% extends "Patients/main.html" %}
{% load static %}
{% block PageName %}Patient Summary{% endblock PageName %}

{% block content %}
<h1>Patient Summary</h1>
<p>Patient ID: {{ patient.PatientID }}</p>
<p>Identifier: {{ patient.P_National_ID }}</p>
<p>First Name: {{ patient.First_Name }}</p>
<p>Last Name: {{ patient.Last_Name }}</p>
<p>Birth Date: {{ patient.Date_of_Birth }}</p>
<p>Gender: {{ patient.Gender }}</p>
<p>Address: {{ patient.Address }}</p>
<p>Phone Number: {{ patient.Phone_Number }}</p>

<h2>Condition Details</h2>
<p>ID: {{ condition_details.id }}</p>
<p>Clinical Status: {{ condition_details.clinical_status }}</p>
<p>Verification Status: {{ condition_details.verification_status }}</p>
<p>Category: {{ condition_details.category }}</p>
<p>Severity: {{ condition_details.severity }}</p>
<p>Code: {{ condition_details.code }}</p>
<p>Subject: {{ condition_details.subject }}</p>
<p>Encounter: {{ condition_details.encounter }}</p>
<p>Onset: {{ condition_details.onset }}</p>
<p>Abatement: {{ condition_details.abatement }}</p>
<p>Recorded Date: {{ condition_details.recorded_date }}</p>
<p>Recorder: {{ condition_details.recorder }}</p>
<p>Asserter: {{ condition_details.asserter }}</p>
<p>Stage: {{ condition_details.stage }}</p>
<p>Evidence: {{ condition_details.evidence }}</p>
<p>Note: {{ condition_details.note }}</p>

<h2>Appointments</h2>
<ul>
    {% for appointment in appointments %}
        <li>{{ appointment.Appointment_Date }} with Dr. {{ appointment.Doctor_Name }} - {{ appointment.Appointment_Status }}</li>
    {% endfor %}
</ul>

<h2>Medical Records</h2>
<ul>
    {% for record in medical_records %}
        <li>{{ record.Date_Created }} - {{ record.Diagnosis }}</li>
    {% endfor %}
</ul>
{% endblock %}