{% extends "Patients/main.html" %}
{% load static %}
{% block PageName %}Patient Summary{% endblock PageName %}

{% block content %}
<h1>Patient Summary</h1>
<p>Patient ID: {{ patient.PatientID }}</p>
<p>Identifier: {{ patient.P_National_ID }}</p>
<p>First Name: {{ patient.First_Name }}</p>
<p>Last Name: {{ patient.Last_Name }}</p>
<p>Birth Date: {{ patient.Date_of_Birth }}</p>
<p>Gender: {{ patient.Gender }}</p>
<p>Address: {{ patient.Address }}</p>
<p>Phone Number: {{ patient.Phone_Number }}</p>

<h2>Appointments</h2>
<ul>
    {% for appointment in appointments %}
        <li>{{ appointment.Appointment_Date }} with Dr. {{ appointment.Doctor_Name }} - {{ appointment.Appointment_Status }}</li>
    {% endfor %}
</ul>

<h2>Medical Records</h2>
<ul>
    {% for record in medical_records %}
        <li>{{ record.Date_Created }} - {{ record.Diagnosis }}</li>
    {% endfor %}
</ul>
{% endblock %}