{% extends "Patients/main.html" %}

{% block PageName %}Appointment Details{% endblock PageName %}

{% block content %}
    <h2>Appointment Details for {{ patient.First_Name }} {{ patient.Last_Name }}</h2>
    <ul>
        {% for appointment in appointments %}
            <li>
                <strong>Appointment ID:</strong> {{ appointment.AppointmentID }}<br>
                <strong>Appointment Date:</strong> {{ appointment.Appointment_Date }}<br>
                <strong>Assigned Doctor:</strong> {{ appointment.Doctor_Name }}<br>
                <strong>Status:</strong> {{ appointment.Status }}<br>
                <strong>Notes:</strong>{% if appointment.Notes == "" %}
                    <span style="color: red;">No notes were recorded. </span>
                {% else %}
                 {{ appointment.Notes }} 
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}