{% extends "Patients/main.html" %}

{% block PageName %}Patient Records{% endblock PageName %}

{% block content %}
    <h2>Records for {{ patient.First_Name }} {{ patient.Last_Name }}</h2>
    <ul>
        {% for record in medical_records %}
            <li>
                <strong>Diagnosis:</strong> {{ record.Diagnosis }}<br>
                <strong>Treatment:</strong> {{ record.Treatment }}<br>
                <strong>Prescription:</strong> {{ record.Prescription }}<br>
                <strong>Date Recorded:</strong> {{ record.Date_Created }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}