{% extends "Patients/main.html" %}

{% block PageName %}Patient Records{% endblock PageName %}

{% block content %}
    <h2>Records for {{ patient.First_Name }} {{ patient.Last_Name }}</h2>
    <ul>
        {% for medical_record in medical_records %}
            <li>
                <strong>Diagnosis:</strong> {{medical_record.Diagnosis }}<br>
                <strong>Treatment:</strong> {{ medical_record.Treatment }}<br>
                <strong>Prescription:</strong> {{ medical_record.Prescription }}<br>
                <strong>Date Recorded:</strong> {{ medical_record.Date_Created }}
            </li>
        {% endfor %}

        <!-- Patient FHIR records display -->
        <h2>FHIR PATIENT FILES</h2>
        {% if  fhir == 0 %}
            <p>Patient FHIR REcords</p>
        {% else %}
            <p> No Fhir records</p>
        {% endif %}
    </ul>
{% endblock %}